body{
    font-family: 'Arial', sans-serif;
    margin: 0rem;
    padding: 0rem;
    background-color:  #219EBC
}
header{
    background:  #1B3C6B;
    padding: 0.5rem 0;
}
header .encabezado{
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
    padding: 0rem 1.5rem;
}
nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
nav .logo1{
    display: flex;
    color: #fff;
}

.logo1 img{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 1rem;
    object-fit: cover;
    margin-left: 0.125rem;
    filter: drop-shadow(0px 17px 7px #000000ce);
}

.logo1 span{
    font-size: 5rem;
    position: end;
} 
nav ul {
    width: 80%;
    margin: auto;
    border-radius: 0.625rem;
    justify-content: space-between;
    list-style-type: none;
    display: inline-flex;
} 
nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.625rem;
    color: #000000;
    padding: 1.4rem 3rem;
}
nav ul li a:hover{
    margin: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    transform: scale(1.1);
    transform: 0.8s;
    transition: 1.2s;
    zoom: 1;
}
h2{
    text-align: center;
    background-color:  #1B3C6B;
    padding: 1rem;
}
.Conoce {
    cursor: pointer;
    margin: auto;
    text-align: center;
}
img{
    width: 18.75rem;
    height: 18.75rem;
    margin: 1.25rem;
    border-radius: 1rem;
    object-fit: cover;
    filter: drop-shadow(0px 17px 7px #187f99);
}
img:hover{
    transform: scale(1.1);
    transition: 0.8s;
    transform: 0.5s;    
}
.Conocenos ul {
    list-style: none;
    padding: 0.5rem;
}
.Conocenos ul li {
    margin-bottom: 0.625rem;
}
.Conocenos ul li a {
    text-decoration: solid;
    color: #000000;
    font-size: x-large;
    background-color:  #1B3C6B;
    padding: 1.125rem;
    display: flex;
    border-radius: 0.875rem;
    margin: 2rem;
}
.Conocenos ul li a:hover{
    background-color: #BECAE6;
    transform: scale(1.01);
    transition: 0.8s;
    transform: 1s;
}


